.small {
  max-width: 79px;
  max-height: 24px;
  min-width: 79px;
  min-height: 24px;
}

.medium {
  max-width: 103px;
  max-height: 32px;
  min-width: 103px;
  min-height: 32px;
}

.large {
  --chip-min-height: 36px;
  --chip-min-width: 112px;
  max-width: 112px;
  max-height: 36px;
  min-width: 112px;
  min-height: 36px;
}
