.primary {
  color: black;
  background-color: white;
  border-width: 0.1em;
  border-color: grey;
  border-style: solid;
  --chip-background-color: white; /* Set variable for background color */
}

.secondary {
  --chip-background-color: grey; /* Set variable for background color */
  background-color: grey;
  color: white;
}
